.indexPage{
    background-color: #f1f1f1;
}
.banner{ width:100%;  position:relative;  height:858px; background:#110d25;z-index: 0;  }
.banner .bd{ margin:0 auto; position:relative; z-index:0; overflow:hidden;  }
.banner .bd ul{ width:100% !important;  }
.banner .bd li{ width:100% !important;  height:858px; overflow:hidden; text-align:center;  }
.banner .hd{  position: absolute;  bottom: 0;  width: 100%;  }
.banner .hd ul{ text-align:center;  padding-top:5px;  }
.banner .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:10px; height:10px; margin:5px;  overflow:hidden;background-color: #fff;border-radius: 50%; text-indent: -9999px; }
.banner .hd ul .on{ width: 30px;  border-radius: 4px; }
.banner .bd ul .w1200{margin-top: 80px;}
.banner .bd ul .w1200 .txt{
    margin-top: 353px;
}
.banner_2 h4{
    text-align: center;
    color: #fff;
    position: relative;
    margin-top: 400px;
    font-size: 76px;
}
.banner .txt_b{
    width: 400px;
    margin: 0 auto;
    text-align: left;
}
.banner .txt h3{
    color: #e4b204;
    font-size: 48px;
}
.banner .txt p{
    color: #b6b2b2;
}
.banner .txt a{
    width:142px;
    height:32px;
    text-align: center;
    line-height: 32px;
    background-color: #ffc601;
    color: #000;
    margin-top: 20px;
}
.banner .txt a i{
    border-left: 6px solid #000;
    border-right: 6px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    width:0;
    height:0;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}
.banner .img{
    text-align: left;
}
.part1{
    /*background-color: #f4f4f4;*/

}
.section{
    display: table;
    table-layout: fixed;
    width: 100%;
}
.part1 .title{
    line-height: 80px;
    background-color: #f7f6ef;
    text-align: center;
    font-size: 20px;
}
.part_table-cell{
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}
.part_table-cell-bottom{
    vertical-align: bottom;
}
.w1364{
    max-width: 1132px;
    width:100%;

}
.part1 .icon_c{
    width:58px;
    height:58px;
    display: block;
    margin: 0 auto;
}
.part1 .icon_1{
    background-position: 0 -565px;
}
.part1 .icon_2{
    background-position: -78px -565px;
}
.part1 .icon_3{
    background-position: -151px -565px;
}
.part1 .icon_4{
    background-position: -247px -565px;
}
.part1 .col-sm-3:hover .icon_1{
    background-position: 0 -654px;
}
.part1 .col-sm-3:hover .icon_2{
    background-position: -78px -654px;
}
.part1 .col-sm-3:hover .icon_3{
    background-position: -151px -654px;
}
.part1 .col-sm-3:hover .icon_4{
    background-position: -247px -654px;
}
.part1 .col-sm-3{
    margin-right: 5%;
    text-align: center;
    width: 21.2%;
}
.part1 .col-sm-3:hover .icon_c{
    animation: rotate 0.3s;
}
.part1 .col-sm-3:hover h4{
    color: #ffc601;
    text-shadow:0 0 2px rgba(0,0,0,0.2)
}
.part1 h4{
    font-size: 16px;
    color: #333;
    margin: 20px 0;
}
.part1 p{
    font-size: 12px;
    color: #666;
    line-height: 20px;
    width: 77%;
    margin: 0 auto;
}
.part2{
    /*background-color: #e5e5e5;*/
}

.banner .bd ul .part2 .txt{
    /*margin-top: 20%;*/
    font-size: 36px;
    color: #000 !important;
    line-height: 60px;
    text-align: left;
    margin-top: 266px;
}
.part2 .txt p{
    color: #fff;
}
.part2 .txt p b{
    font-size: 46px;
    font-weight: bold;
    color: #86bc75;
}
.part2 .txt span{
    display: block;
    font-size: 24px;
    color: #999;
    line-height: 32px;
}

.slide { position: relative; width:528px;     height: 570px;  margin-top: 26px; }
.focusBox .pic{ position:relative; z-index:0; }
.focusBox .pic img {  display: block; }
.focusBox .hd li{margin: 0 5px; height: 3px; overflow: hidden; width: 50px; cursor: pointer;background-color: #a1a1a1; display:inline-block; *display:inline; zoom:1;  }
.focusBox .hd .on{ background-color: #000; }

.part4{
    text-align: center;
}
.part4 .title{

    font-size: 36px;
    margin: 2% 0;
}
.part4 .desc{
    font-size: 20px;
    color: #999999;
    padding: 2% 0;
    background-color: #fcfcfc;
}
.part4 .row{
    background-color: #fff;
    *overflow: hidden;
}
.part4 .txt{
    color: #333;
    text-align: left;
    margin-top: 59%;
}
.part4 .txt h4{
    font-size: 34px;
    line-height: 80px;
   
}
.part4 .txt p{
    font-size: 22px;
    line-height: 40px;
    color: #666;
    
}
.part4 .txt.top{
    margin-top: 20%;
    margin-bottom: 5%;
}
.part4 .txt.top a{
    border-radius: 5px;
    border:1px solid #e9b504;
    color: #e9b504;
    padding: 5px 25px;
    margin-top: 20px;
}
.part5{
    background:url("../images/index/7.png") center center no-repeat;
    height:731px;
}
.part5 .title{
    font-size: 40px;
    color: #333;
    padding: 8% 0 5%;
    text-align: center;
}
.part5 dt{
    float: left;
    width:23%;
    margin: 0 1% 2%;
    padding: 20px 40px;
    background-color: #fff;
}
.part5 dt:hover{
    opacity: .8;
}
.part5 .title{
    padding: 80px 0;
    text-align: center;
    font-size: 36px;
}
.part5 .title span{
    color: #f0f0f0;
    display: block;
    font-size: 18px;
}
.swiper-container{
    max-width:1510px;
}
.swiper-slide{
    background-color: #eaeaea;
    border-radius: 10px;
    overflow: hidden;
}
.swiper-slide p{
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
}
.swiper-buttons{
    margin: 40px auto;
    height:48px;
    text-align: center;
}
.swiper-button-next, .swiper-button-prev{
    position: static;
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    display: inline-block;
    *display:inline;
    *zoom:1;
    vertical-align: middle;
    width:48px;
    height:48px;
    background-size: inherit;
    margin-right: 20px;
    margin-top: 0;
}
.swiper-button-next{
    background-position: -63px -228px;
}
.swiper-button-prev{
    background-position: 0 -228px;
}
@keyframes rotate {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

/*.part5 dt:nth-child(4n){*/
    /*margin-right: 0;*/
/*}*/
@media (max-width: 768px){
    .banner .bd ul .w1200 .txt {
        margin-top: 153px;
    }
    .banner .img {
        text-align: center;
    }
    .part1 .col-sm-3 {
        width: auto;
        padding: 0 5% 5%;
    }
    .part2 .txt {
         margin-top: 5%;
         padding-left: 5%;
    }
    .part3 .txt_box {
        margin-left:0;
        margin-bottom: 5%;
    }
    .part4 .txt {
        margin-top: 8%;
        padding-left: 5%;
    }
    .part4 .txt.top{
        margin-top: 8%;
    }
    .part5 dt{
        width:48%;
    }

}
