.part1 li{
    width:32.5%;
    margin-right: 1%;
    float: left;
    text-align: center;
}
.part1 li .pic{
    width:100%;
}
.part1 .icon_c{
    width:64px;
    height:64px;
    display: block;
    margin: 40px auto 25px;
}
.part1 li .icon_1{
    background-position: 0 -447px;
}
.part1 li .icon_2{
    background-position: -83px -447px;
}
.part1 li .icon_3{
    background-position: -173px -447px;
}
.part1 .line-gray{
    height:1px;
    width:120px;
    background-color: #a4a4a4;
    margin: 15px auto;
}
.part1 li h4 {
    color: #494949;
    font-size: 30px;
}
.part1 li .desc{
    color: #aaaaaa;
    font-size: 16px;
    line-height: 24px;
}
.part1 li .desc:before{
    content: '';
    width:6px;
    height:6px;
    display: inline-block;
    vertical-align: middle;
    background-color: #e8af01;
    border-radius: 50%;
    margin-right: 10px;
}
.part1 li  .recommend_txt{
    margin: 10px 0;
}
.part1 li  .recommend_txt:before,.part1 li  .recommend_txt:after{
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    width:9px;
    height:8px;
    content: '';

}
.part1 li  .recommend_txt:before{
    background-position: -242px -49px;
    margin-right: 20px;
}
.part1 li  .recommend_txt:after{
     background-position: -226px -49px;
    margin-left: 20px;
 }

.part1 li .product{
    max-width: 160px;
    margin: 0 auto 60px;

}
.part1 li .product_big{
    max-width: 260px;
}
.part1 li .product .name{
    border-left:2px solid #e8af01;
    padding-left: 15px;
    position: relative;
    text-align: left;

}
.part1 li .product .name i{
    border-left: 13px solid transparent;
    border-right: 13px solid #e8af01;
    border-top: 13px solid transparent;
    border-bottom: 13px solid #e8af01;
    display: block;
    width:0;
    height: 0;
    position: absolute;
    right: 0;
    bottom: -3px;
}
.part1 li .product .img{
    border:1px solid #e8af01;
    margin-top: 3px;
    padding: 10px 0;
}
.part1 li .product .temper{
    text-align: left;
    color: #494949;
    font-size: 16px;
    margin-top: 15px;
}
.part2{
    background-color: #6ea5ff;
    text-align: center;

}
.part2 .title{
    color: #fff;
    font-size: 36px;

    padding: 5% 0;
}
.part2 .title span{
    font-size: 24px;
    border-left: 2px solid #fff;
    padding-left: 15px;
    text-align: center;
}
.part2 dt{
    width:25%;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    padding: 0 2%;
}
.part2  .txt_bot{
    background-color: #FFF;
    display: inline-block;
    border-radius: 50px;
    line-height:70px;
    padding: 0 3%;
    font-size: 24px;
    color: #6ea5ff;
    margin: 7% 0 ;
}
.part2  .txt_bot a{
    color: #6ea5ff;
}
.product_detail_item{
    background-repeat: no-repeat;
    min-height:630px;
    max-height:800px;

   /* padding-left:50%;*/
    padding-top: 5%;
    background-size: 100% 100%;
}

.product_detail_item .box{
    padding-left: 50%;
}
.product_detail_item2 .box{
    padding-left: 0;
}
.product_detail_item1{
    background-image: url('../images/product/13.png');
    background-color: #f6f9fd;
}
.product_detail_item2{
    background-image: url('../images/product/14.png');
    background-color: #1d1613;
}
.product_detail_item3{
    background-image: url('../images/product/15.png');
    background-color: #d4dadb;
}
.product_detail_item h3{

    font-size: 36px;
    color: #6ea5ff;
    border-left: 2px solid #6ea5ff;
    padding-left: 15px;
    line-height: 36px;
    margin-bottom: 25px;
}
.product_detail_item  .describe p{
    margin-top: 25px;
    color: #aaa;
}
.product_detail_item  .describe p:before{
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    width:19px;
    height:16px;
    content: '';
    background-position: -266px -49px;
    margin-right: 10px;


}
.product_detail_item .desc{
    color: #494949;
    line-height: 30px;
}
.product_detail_item .instro{
    position: relative;
}
.product_detail_item .img{
    position: absolute;
    left: 350px;
    bottom:0;
    min-width:130px;
}
.product_detail_item .instro a{
    width:250px;
    text-align: center;
    line-height: 40px;
    color: #6ea5ff;
    font-size: 20px;
    border:1px solid #6ea5ff;
    margin-top: 60px;
    margin-left: 48px;
}
.product_detail_item2 h3{
    color: #e8af01;
    border-color: #e8af01;
}
.product_detail_item2  .desc{
    color: #fff;
}
.product_detail_item2 .instro a{
    color: #e8af01;
    border-color: #e8af01;
    background-color: #fff;
}
.product_detail_item3 h3{
    color: #6ea63c;
    border-color: #6ea63c;
}
.product_detail_item3  .describe p{
    color: #494949;
}
.product_detail_item3  .describe p:before{
    background-position: -266px -71px;
}
.product_detail_item3 .instro a{
    color: #6ea63c;
    border-color: #6ea63c;
    background-color: #fff;
}

.part4{
    background-color: #020202;
    *overflow: hidden;
    margin-top: 100px;
}
.part4 .img{
    margin-top: -5.5%;
}
.part4 .txt{
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-top: 12%;
}
.part4 .txt_box{
    margin-left: -35%;
}
.part4 .txt span{
    font-size: 18px;
    line-height: 28px;
    display: block;
    margin-top: 14px;
}
@media (min-width: 1400px){
    .product_detail_item{  height:730px;}
}
@media (max-width: 500px){
    .part1 li{
        width:100%;
        float: none;
    }
    .part2 dt{
        width:50%;
    }
    .part4 .txt_box{
        margin-left: 0;
    }
    .product_detail_item .img {
        display: none;
    }
    .part1 li h4 {
        font-size: 20px;
    }
    .part2 .title {
        font-size: 20px;
    }
    .part2 .title span {
        font-size: 16px;
    }
    .part2 dt {
        font-size: 18px;
    }
    .product_detail_item h3 {
        font-size: 26px;
    }
}
@media (max-width: 380px){

    .part2 dt{
        width:100%;
    }
    .part2  .txt_bot{
        font-size: 16px;
    }
}
@media (max-width: 850px){
    .product_detail_item .box{
       padding-left: 0;
    }
    .product_detail_item{
        background-size: auto;
    }
    .product_detail_item .desc{
        color: #fff;
    }
    .product_detail_item .describe p {
        color: #fff;
    }
    .product_detail_item3 .describe p {
        color: #fff;
    }
}
